@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}
html{
    font-size: 12px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../Images/img2.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}
.counter{
    display: flex;
    margin: 15px 0;
    border: 1px solid rgba(255,255,255,0.2);
    padding: 10px;
}   
body>h2{
    font-size: 1.5rem;
    margin: 15px 0;
}
body>p{
    font-size: 0.8rem;
}
.counter .box{
    width: 60px;
    height: 70px;
    margin-right: 10px;
    text-align: center;
    position: relative;
}
.box h2{
    font-size: 2.5rem;
    font-weight: 400;
}
.counter .box::after{
    content: ":";
    height: 70px;
    width: 10px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
}
.counter .box:last-of-type::after{
    display: none;
}
.form{
    margin-top: 20px;
}
.form input[type="text"]{
    width: 200px;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: transparent;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    font-size: 1.2rem;
}
.form input[type="text"]::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.form button{
    width: 100px;
    height: 47px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
}
@media screen and (min-width:576px) {
    html{
        font-size: 15px;
    }
    .counter .box{
        width: 100px;
        height: 100px;
    }
    .form input[type="text"]{
        width: 300px;
        padding: 15px;
    }
    .form button{
        width: 130px;
        height: 57px;
    }
}
@media screen and (min-width:768px) {
    html{
        font-size: 20px;
    }
    .counter .box{
        width: 150px;
        height: 150px;
    }
    .form input[type="text"]{
        width: 400px;
        padding: 15px;
    }
    .form button{
        width: 180px;
        height: 70px;
    }
}